[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hassil = "*"
home-assistant-intents = "*"
mutagen = "*"
ha-ffmpeg = "*"
langfuse = "==2.59.3"
litellm = ">=1.80.0"
homeassistant = "==2025.12.0"
openai = "==2.8.0"

[dev-packages]
pytest = "*"
pytest-homeassistant-custom-component = "==0.13.298"
pytest-cov = "*"
pytest-asyncio = "*"
python-dotenv = "*"
dbus-fast = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
